.main-products__carousel .carousel__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
}

.main-products__carousel .carousel__slide {
    display: flex;
}
.main-products__carousel .carousel__indicators {
    display: flex;
    justify-content: center;
}

.main-products__carousel .carousel__indicators .carousel__indicator {
    margin: 5px;
    border: none;
    background-color: transparent;
}

.main-products__carousel .carousel__indicators .carousel__indicator:hover {
    color: var(--bg-color);
    cursor: pointer;
}

.product-card {
    border: 1px solid var(--bg-color);
    padding: 5px;   
}

@media (min-width: 580px) {

    .main-products__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

}

@media (min-width: 720px) {

    .main-products__list {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (min-width: 980px) {

    .main-products__list {
        grid-template-columns: repeat(4, 1fr);
    }

}